recursive-include fetch_block_construction/envs/robotics/assets *.xml
recursive-include fetch_block_construction/envs/robotics/assets *.stl
recursive-include fetch_block_construction/envs/robotics/assets *.png
